<!DOCTYPE html>
<% provide(:title, "Contact") %>

<div class="main">
  <h3>Jesse MacKellar</h3>
</div>

<div class="mainbody">
  <p><a href="mailto:jessemackellar@gmail.com">jessemackellar@gmail.com</a></p>
  <p>734 945 5320</p>
</div>