<!DOCTYPE html>
<% provide(:title, "GLSL") %>

<div class="main">
  <h3>GLSL</h3>
</div>

<div class="mainbody">
  <h3>Shader Collection</h3>
  <a>2018-2020</a>
  <a href="https://www.github.com/jmackellar/ShaderCollection">Github</a></br></br>
  <a>Dynamic Light System</a></br>
  <a>A GLSL shader used for rendering a dynamic light scene with blending.  The shader is passed the light source data that has been
  packed into an Nx2 png image.  The top row of pixel's rgb channels correspond to the light sources x position, y position, and light intensity.
  The second row of pixel's rgb channels correspond to the color of the light source.</a></br></br>
  <a>Kaleidoscope Effect</a></br>
  <a>This shader takes passed x value which is function of cos or sin to rapidly shift the color shaded image giving it
  a kaleidoscope effect.</a>
</div>